.gs{
    background-color: aliceblue;
    position: fixed;
    z-index: 10000;
    margin-top: 180px;
}

.si{
    width:400px;
    height:300px;
    margin-left: 60px;
}

ul{
    list-style: none;
}

.he3{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    margin-top: 13px;
    text-transform: uppercase;
}
.p{
    background-color: aliceblue;
    border: none;
    box-shadow: none;

}
h4,h3{
    margin: 6px;
}
.di{
    justify-content: center;
    text-align: center;
    margin-top: 12px;
    margin-left: 16px;
    height: 120px;
}

.dii{
    font-style:italic;
     justify-content: center ;
     text-align:center;
}

.mat-card .w1{
    background-color: #3f729b !important;
    color: white;
    margin-left: 180px;
    border: none;
    text-transform: uppercase;
}
